<p id="notice"><%= notice %></p>

<div class="container menu-container">
  <div class="menuInfo">
    <div class="list-group">
      <h1 class="text-center">Item details</h>
      <div class="media">
        <!--Item info-->
        <div class="media-body">
          <hr>
          <h4>Item Name: <%= @menu.name %></h4>
          <h4>Item Price: $ <%= @menu.price %></h4>
        </div>           
      </div>
      <br>
		  <%= link_to 'Edit', edit_menu_path(@menu), class:'btn btn-danger' %> 
			<%= link_to 'Back', menus_path, class:'btn btn-info' %>
    </div>
  </div>
</div>
