<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field">
    <%= f.label :customer_id %><br>
    <%= f.text_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :order_detail %><br>
    <%= f.text_area :order_detail, size: "50x20" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
-->
<div class="container order-container">
  <form role="form">
    <div class="form-group">
      <h4>Customer:</h4>
      <%= collection_select(:order, :customer_id, Customer.all, :id, :fullName, { prompt: "Choose an existing customer"}, {:class => "form-control"}) %>
    </div>
    <div class="form-group">
      <h4>Order detail:</h4>
      <%= collection_select(:order, :customer_id, Menu.all, :id, :item_name, { prompt: "Choose an existing customer"}, {:class => "form-control"}) %>
      <br>
      <div class="menu-box">
        <table class="table">
          <thead>
            <tr>
              <th>Select</th>
              <th>Item</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="checkbox">
                  <label><input type="checkbox" value=""></label>
                </div>
              </td>
              <td>Ramen</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form-group">
      <h4>Order detail:</h4>
      <%= f.text_area :order_detail, class:"form-control", rows:"15" %>
    </div>
    <div class="actions">
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <i class="icon-ok icon-white"></i> Save
      <% end %>
    </div>
    <br>
    <%= link_to 'Show', @order, class:"btn btn-success"%> 
    <%= link_to 'Back', orders_path, class:"btn btn-info" %>
    <br><br>
  </form>
</div>
<% end %>
