<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container order-container">
    <form role="form">
      <div class="form-group">
        <h4>Customer:</h4>
        <%= collection_select(:order, :customer_id, Customer.all, :id, :fullName, { prompt: "Choose an existing customer"}, {:class => "form-control"}) %>
      </div>
    </form>
    
    <h4>Menu:</h4>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-7">
          <select class="form-control" name="item">
            <option value="">Choose an item from the menu</option>
            <% Menu.all.each do |item| %>
              <option id="item" value="<%= item.id %>"><%= item.name %></option>
            <% end %>
          </select>   
        </div>

        <div class="col-xs-3">
          <select class="form-control" name="item-quantity">
            <option value="">Quantity</option>
            <% (1..20).each do |val| %>
              <option id="quantity" value="<%= val%>"><%= val %></option>
            <% end %>
          </select>
        </div>
        <div class="col-xs-2">
          <button id="addItem" type="button" class="form-control btn btn-primary">Add</button>
        </div>
      </div>
    </div>

    <table id="itemTable" class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody id="itemList">
      </tbody>
    </table>


    <div class="form-group">
      <h4>Order Detail:</h4>
      <%= f.text_area :order_detail, id: "orderDetail", class:"form-control", rows:"5" %>
    </div>
    <div class="actions">
      <%= button_tag(id: 'saveBtn', type: 'submit', class: "btn btn-primary") do %>
        <i class="icon-ok icon-white"></i> Save
      <% end %>
    </div>
    <br>
    <%= link_to 'Show', @order, class:"btn btn-success"%> 
    <%= link_to 'Back', orders_path, class:"btn btn-info" %>
    <br><br>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    var selectedItems = [];
    $(document).on("click", "#addItem", function() {
      //alert("item: " + $("[name=item]").val());
      //selectedItems.push($("[name=item]").val());
      
      var item = {
        id: $("[name=item]").val(),
        name: $("[name=item] option:selected").text(),
        quantity: $("[name=item-quantity").val()
      }

      addItem(item);
      console.log(selectedItems);
      showSelectedItems();
      addToOrderDetail(selectedItems);
    });

    $(document).on("click", "#removeItem", function() {
      var itemIndex = $(this).attr("value");

      //console.log("removing item with index: " + itemIndex);

      removeSelectedItems(itemIndex);
      showSelectedItems();
      addToOrderDetail(selectedItems);
    });

    $(document).on("click", "#saveBtn", function() {
      sendSelectedItem();
    });
  

    function sendSelectedItem() {
      $.ajax({
        type: "POST",
        url: "<%= orders_addItem_path %>",
        data: {selectedItems: JSON.stringify(selectedItems)}
      });
    }

    function addItem(item) {
      if (item.id != "" && item.quantity != "") {
        selectedItems.push(item);
      }
    }

    function showSelectedItems() {
      var allSelectedItems;
      for (var i = 0; i < selectedItems.length; i++) {
        allSelectedItems += itemText(selectedItems[i].name, selectedItems[i].quantity, i);
      }

      $("#itemList").html("").html(allSelectedItems);
    }

    function itemText(name, quantity, index) {
      //console.log(name + "   " + quantity + "   " + index);
      return '<tr><td>' + name + '</td><td>' + quantity + '</td>' + '<td><button id="removeItem" value=' + index + ' type="button" class="btn btn-danger">Remove</button></td>';
    }

    function removeSelectedItems(index) {
      selectedItems.splice(index, 1);
    }

    function addToOrderDetail(selectedItems) {
      $("#orderDetail").val("");
      $("#orderDetail").val(setOrderDetailText(selectedItems));
    }

    function setOrderDetailText(selectedItems) {
      //var text = "Items : Quantity\n";
      var text = "";

      for (var i = 0; i < selectedItems.length; i++) {
        text += selectedItems[i].name + " : " + selectedItems[i].quantity + "\r\n";
      }

      return text;
    }

  });
</script>
