<p id="notice"><%= notice %></p>

<!--<p>
  <strong>Customer:</strong>
  <%= @order.customer %>
</p>

<p>
  <strong>Order detail:</strong>
  <%= @order.order_detail %>
</p>
-->

<div class="container order-container">
  <div class="orderInfo">
    <div class="list-group">
      <h1 class="text-center">Order details</h>
      <div class="media">
        <!--Reservation info-->
        <div class="media-body">
          <hr>
          <h4>Order ID: <%= @order.id %></h4>
          <h4>Order Made: <%= @order.created_at_before_type_cast %></h4>
          <h4>Order Updated: <%= @order.updated_at_before_type_cast %></h4>
          </br>
          <h4>Order:</h4>
          <h4><%= @order.order_detail %></h4>
        </div>           
      </div>
      <br>
      <%= link_to 'Edit', edit_order_path(@order), class:'btn btn-danger' %>
	  <%= link_to 'Back', orders_path, class:'btn btn-info' %>
    </div>
  </div>
</div>

