<p id="notice"><%= notice %></p>

<h4>Listing All Restaurants</h4>

<table class="table table-striped table-hover center-table">
  <thead>
    <tr class="active">
      <th>Name</th>
      <!--
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone</th>
      -->
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr class="<%= cycle("info", "success") %>">
        <td><%= restaurant.name %></td>
        <!--
        <td><%= restaurant.street %></td>
        <td><%= restaurant.city %></td>
        <td><%= restaurant.state %></td>
        <td><%= restaurant.zip %></td>
        <td><%= restaurant.phone %></td>
        -->
        <td><%= restaurant.website.empty? ? 'N/A' : restaurant.website %></td>
        <td><%= link_to 'Details', restaurant, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant), class: 'btn btn-success' %></td>
        <td><%= link_to 'Delete', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_restaurant_path class: 'btn-success' do %>
  <i class="glyphicon glyphicon-plus">New Restaurant</i>
  <% end %>
