<!DOCTYPE html>
<html>
	<head>
	  <title>Restaurantdb</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="home/index">Home</a>
					<a class="navbar-brand" href=" <%= restaurants_path %>">Restaurants</a>
					<a class="navbar-brand" href=" <%= customers_path %>">Customers</a>
					<a class="navbar-brand" href=" <%= orders_path %>">Orders</a>
					<a class="navbar-brand" href=" <%= reservations_path %>">Reservations</a>
				</div>
			</div>
		</nav>

		<div style="margin:20px">
			<%= yield %>
		</div>
		
	</body>
</html>
