
<style>
body{
  background: url(http://www.theredherring.co.za/wp-content/uploads/2013/03/background.jpg);
  background-size: 100%;
  background-position: center top;
}

.navbar-default {
     background-color: transparent !important;
     border: none !important;
}

.navbar-brand{
	color: black !important;
}
</style>

<!DOCTYPE html>
<html>
	<head>
	  <title>Restaurantdb</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href=" <%= root_path %>">Home</a>
					<!--<a class="navbar-brand" href=" <%= restaurants_path %>">Restaurants</a>-->
					<a class="navbar-brand" href=" <%= customers_path %>">Customers</a>
					<a class="navbar-brand" href=" <%= menus_path %>">Menu</a>
					<a class="navbar-brand" href=" <%= orders_path %>">Orders</a>
					<a class="navbar-brand" href=" <%= reservations_path %>">Reservations</a>
					<a class="navbar-brand" href=" <%= summary_index_path %>">Summary</a>
				</div>
			</div>
		</nav>

		<div style="margin:20px">
			<%= yield %>
		</div>

	</body>

</html>
